html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  background: #E0E0E0;
}

.rx-sheet-music-view > svg {
  display: block;
  margin: 0 auto;
  transform: scale(1.75);
}

.rx-keyboard-buttons button:focus {
  /* box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.1); */
  -webkit-filter: brightness(0.9);
  outline: none;
}
